{% extends "layout.html" %}
{% block body %}
<div id="generatorForm" class="hero-unit">
    <div id="logo" style="text-align: center">
        <img src="{{ url_for('static', filename='logo.png')}}" width="400" />
    </div>
    <!-- <h1>Generate Your own Timeline!</h1> -->
    <p style="text-align: center; margin-bottom: 2em">Make your own personal Timeline by filling out a simple form!</p>
    <form action="{{ url_for('generate') }}" method="post">
        
        <h2 style="margin-top: 1.5em;">How would you introduce yourself:</h2>
        
        
        
        <p>My name is 
            {% if not session.username %}
            <input type="text" size="50" name="name" placeholder="Your Name (eg. John Doe)" class="span3">
            {% else %}
            <input type="text" size="50" name="name" class="span3" value={{session.username}}>
            {% endif %}
            and I study 
            {% if not session.study %}
            <input type="text" size="50" name="study" placeholder="Your Program (eg. Engineering)" class="span3" >
            {% else %}
            <input type="text" size="50" name="name" class="span3" value={{session.study}}>
            {% endif %}
            @ 
            {% if not session.school %}
            <input type="text" size="50" name="school" placeholder="Your School (eg. uWaterloo)" class="span4">
            {% else %}
            <input type="text" size="50" name="name" class="span4" value={{session.school}}>
            {% endif %}
            </p>
        
        <h2 style="margin-top: 1.5em;">Fill out your timeline: </h2>

        <p>When did you start going to school? 
            <!-- <select class="large" name="startyear" id="startyear">
                <option>Something went wrong :(</option>
            </select> -->
        </p>
        <div id="yearButtons" class="well" style="text-align: center"></div>
        
        <div id="timelineform">
            If you see this shit went wrong :(
            <!-- <h3>2008</h3>
            <p>
                Winter <input type="text" size="20" name="2008-1">
                Spring <input type="text" size="20" name="2008-2"> 
                Fall <input type="text" size="20" name="2008-3">
            </p> -->
        </div>
        <div id="notDone" class="well" style="text-align: center">
            <p>Not done yet? <a href="#addNewYear" name="addNewYear" id="addNewYear" class="btn medium success">Add another year</a> Made a mistake? <a href="#deleteLastYear" name="deleteLastYear" id="deleteLastYear" class="btn medium danger">Delete most recent year</a></p>
        </div>
        <div class="actions">
            <input type="submit" id="submitButton" class="btn danger xxlarge large " value="Please fill out the form to Generate your Timeline" disabled>
            <!-- <button type="reset" class="btn">Cancel</button> -->
        </div>
    </form>
</div>
{% endblock %}
